@{
    ViewBag.Title = "کتابخانه";
}

<div class="image-container">
    <div class="banner-text">به کتابخانه مرکزی خوش آمدید</div>
    <div style="font-size: 40px; font-weight: bolder;padding:0px 100px 100px 50px">
        امانت و رزرو کتاب
    </div>
</div>