@model RegisterDto

@{
    ViewBag.Title = "ثبت نام";
}
<div class="breadcrumb">
    <div style="font-weight: bold;font-size: 20px">ثبت نام</div>
    <div class="text-grey">
        <span><a asp-controller="Home" asp-action="Index">خانه</a></span>
        <i class="fa-solid fa-caret-left"></i>
        <span>ثبت نام</span>
    </div>
</div>

<div class="body-container">
    <div class="form-container">
        <form asp-controller="Account" asp-action="Register" method="post">
            <div class="form-field">
                <div class="field-label">
                    <label asp-for="Email">ایمیل</label>
                </div>
                <div>
                    <input asp-for="Email" class="form-input"/>
                    <span asp-validation-for="Email" class="text-red"></span>
                </div>
            </div>
            <div class="form-field">
                <div class="field-label">
                    <label asp-for="Mobile">شماره موبایل</label>
                </div>
                <div>
                    <input asp-for="Mobile" class="form-input"/>
                    <span asp-validation-for="Mobile" class="text-red"></span>
                </div>
            </div>
            <div class="form-field">
                <div class="field-label">
                    <label asp-for="Password">پسورد</label>
                </div>
                <div>
                    <input asp-for="Password" class="form-input" />
                    <span asp-validation-for="Password" class="text-red"></span>
                </div>
            </div>
            <div class="form-field">
                <div class="field-label">
                    <label asp-for="RePassword">تکرار پسورد</label>
                </div>
                <div>
                    <input asp-for="RePassword" class="form-input" />
                    <span asp-validation-for="RePassword" class="text-red"></span>
                </div>
            </div>
            <div class="form-field">
                <div class="field-label">
                </div>
                <div>
                    <button type="submit" class="btn btn-pink">ثبت نام</button>
                </div>
            </div>
            <div class="field-label">
                حساب کاربری دارید؟<a asp-controller="Account" asp-action="Login" class="form-field-link">ورود</a>
            </div>
        </form>
    </div>
</div>
