@{
    ViewBag.Title = "پروفایل";
}

<div class="breadcrumb">
    <div style="font-weight: bold;font-size: 20px">حساب کاربری</div>
    <div class="text-grey">
        <span><a asp-controller="Home" asp-action="Index">خانه</a></span>
        <i class="fa-solid fa-caret-left"></i>
        <span>پروفایل</span>
    </div>
</div>

<div class="box-container">
    <div class="book-container" style="width:50%">
        <div class="request">
            <a asp-controller="Requests" asp-action="ListOfRequests">لیست درخواست‌ها</a>
        </div>
        <div class="request">
            <a asp-controller="" asp-action="">لیست علاقه‌مندی‌ها</a>
        </div>
        <div class="request">
            <a asp-controller="" asp-action="">کتاب‌های در دست امانت</a>
        </div>
        <div class="request">
            <a asp-controller="" asp-action="">کتاب‌های رزرو شده</a>
        </div>
        <div class="request">
            <a asp-controller="" asp-action="">ویرایش اطلاعات کاربری</a>
        </div>
    </div>
</div>
